body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
}

.header-container{
    background-image: linear-gradient(to right,blue, turquoise);
    text-align: center;
    color: white;
    margin: 0;
}
h1 {
    padding: 10px;
    margin: 0;
}

.form-container{
    width: 20%;
    background-color: lightskyblue;
    height: 100vh;
    padding: 15px;
    
}
.weather-form{
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.city{
    display: block;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    width: 100%;
}

.search-btn{
    padding: 5px;
    border-radius: 10px;
    border: 3px solid black;
    background-image: linear-gradient(to right,blue, turquoise);
    transition: all 0.5s ease-in-out;
    margin-top: 15px;
    color: white;
    font-size: 23px;
    width: 100%;
}

.search-btn:hover{
    background-image: linear-gradient(to right,darkblue, blue);
}

main{
    display: flex;

}

hr{
    border: 3px solid black;
    background-color:black;
    margin-top: 15px;
}

.weather-container{
    width: 100%;
}

.today{
    padding: 20px;
    border: 3px solid black;
    margin: 15px;
    border-radius: 15px;
    background-color: lightskyblue;
    width: 90%;
    display: none;
}

.other-five-days{
    display: flex;
    justify-content: space-around;
}
